.roundedText,
.roundedTextAbt {
    animation: 20s linear infinite rotatory;
}
.glitch:after,
.glitch:before {
    content: attr(data-text);
    background: #000;
    clip: rect(0, 900px, 0, 0);
    overflow: hidden;
}
.fot-line h1,
.loop h1 {
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: anim;
}
.abth h1,
.fot-line h1,
.loop h1 {
    animation-name: anim;
}
.glitch:after,
.glitch:before,
.loop-wrap,
.o-image_wrapper,
.pre-wrap,
.preloader,
.tiles,
.timg,
section.abt-banner {
    overflow: hidden;
}
.mainbanner,
.timg {
    background-repeat: no-repeat;
}
.abth,
.abth2,
.btmctn,
.c-direction-block_item,
.fot-line,
.loop,
.tlh,
.topctn {
    white-space: nowrap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
    width: 100vw;
    height: 100vh;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Orbitron, sans-serif !important;
    background-color: #fff;
}
.btn-a a,
ul.btn-list a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
    display: inline-flex;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.m-h h1,
.s-h h2,
.s-h h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}
.btn-a a:hover,
ul.btn-list a:hover {
    border-bottom: 1px solid #b8e132;
}
.btn-a a:hover svg,
ul.btn-list a:hover svg {
    transform: rotate(45deg);
}
.btn-a a svg,
ul.btn-list a svg {
    font-size: 16px;
    margin-left: 9px;
    color: #b8e132;
    transition: 0.4s ease-in-out;
}
.p1 p {
    color: #fff;
    font-family: Montserrat, sans-serif;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
}
.logo,
.m-h h1,
.s-h h2,
.s-h h4 {
    font-weight: 600;
}
.m-h h1 {
    font-size: 60px;
}
.s-h h4 {
    font-size: 20px;
}
.s-h h2 {
    font-size: 40px;
}
.logo,
.pre-ctn span {
    letter-spacing: 1px;
    text-transform: uppercase;
}
.preloader {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre-ctn span {
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    font-family: Orbitron, sans-serif;
}
.pre-wrap {
    height: 90px;
    position: relative;
    margin-bottom: 10px;
}
.abtRoundMain,
.counter,
.roundedText {
    position: absolute;
}
.pre-ctn {
    transform: translate(0, 74px);
    opacity: 0;
}
.char {
    transform: translateY(115px);
    transition: transform 0.5s;
}
.line {
    width: 0%;
    height: 3px;
    background-color: #fff;
    border-radius: 100%;
    margin: auto;
}
.counter {
    text-align: center;
    right: 34px;
    bottom: 91px;
    width: 205px;
}
.counter span {
    color: #fff;
    font-size: 60px !important;
    width: 205px;
}
.roundedText {
    right: 15px;
    bottom: 15px;
}
.abtRoundMain {
    right: 7%;
    top: 240px;
}
@keyframes rotatory {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.glitch {
    color: #fff;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.glitch:after,
.glitch:before,
.header {
    position: absolute;
    top: 0;
}
@keyframes noise-anim {
    0% {
        clip: rect(55px, 9999px, 93px, 0);
    }
    5% {
        clip: rect(82px, 9999px, 34px, 0);
    }
    10% {
        clip: rect(28px, 9999px, 16px, 0);
    }
    15% {
        clip: rect(74px, 9999px, 56px, 0);
    }
    20% {
        clip: rect(18px, 9999px, 36px, 0);
    }
    25% {
        clip: rect(18px, 9999px, 35px, 0);
    }
    30% {
        clip: rect(13px, 9999px, 80px, 0);
    }
    35% {
        clip: rect(43px, 9999px, 93px, 0);
    }
    40% {
        clip: rect(94px, 9999px, 17px, 0);
    }
    45% {
        clip: rect(77px, 9999px, 16px, 0);
    }
    50% {
        clip: rect(94px, 9999px, 94px, 0);
    }
    55% {
        clip: rect(97px, 9999px, 48px, 0);
    }
    60% {
        clip: rect(57px, 9999px, 6px, 0);
    }
    65% {
        clip: rect(20px, 9999px, 10px, 0);
    }
    70% {
        clip: rect(6px, 9999px, 48px, 0);
    }
    75% {
        clip: rect(19px, 9999px, 69px, 0);
    }
    80% {
        clip: rect(48px, 9999px, 69px, 0);
    }
    85% {
        clip: rect(36px, 9999px, 58px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 23px, 0);
    }
    95% {
        clip: rect(86px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(12px, 9999px, 24px, 0);
    }
}
.glitch:after {
    left: 2px;
    text-shadow: -1px 0 red;
    color: #fff;
    animation: 2s linear infinite alternate-reverse noise-anim;
}
@keyframes noise-anim-2 {
    0% {
        clip: rect(87px, 9999px, 82px, 0);
    }
    5% {
        clip: rect(99px, 9999px, 36px, 0);
    }
    10% {
        clip: rect(17px, 9999px, 87px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 49px, 0);
    }
    20% {
        clip: rect(86px, 9999px, 99px, 0);
    }
    25% {
        clip: rect(79px, 9999px, 16px, 0);
    }
    30% {
        clip: rect(96px, 9999px, 68px, 0);
    }
    35% {
        clip: rect(47px, 9999px, 93px, 0);
    }
    40% {
        clip: rect(15px, 9999px, 22px, 0);
    }
    45% {
        clip: rect(69px, 9999px, 88px, 0);
    }
    50% {
        clip: rect(97px, 9999px, 38px, 0);
    }
    55% {
        clip: rect(29px, 9999px, 83px, 0);
    }
    60% {
        clip: rect(46px, 9999px, 69px, 0);
    }
    65% {
        clip: rect(31px, 9999px, 45px, 0);
    }
    70% {
        clip: rect(17px, 9999px, 96px, 0);
    }
    75% {
        clip: rect(88px, 9999px, 72px, 0);
    }
    80% {
        clip: rect(8px, 9999px, 72px, 0);
    }
    85% {
        clip: rect(49px, 9999px, 54px, 0);
    }
    90% {
        clip: rect(14px, 9999px, 43px, 0);
    }
    95% {
        clip: rect(25px, 9999px, 90px, 0);
    }
    100% {
        clip: rect(77px, 9999px, 53px, 0);
    }
}
.glitch:before {
    left: -2px;
    text-shadow: 1px 0 #00f;
    color: #fff;
    animation: 3s linear infinite alternate-reverse noise-anim-2;
}
.header {
    width: 100%;
    z-index: 2;
}
.hambrger,
.logo {
    background-color: #b8e132;
    padding: 9px 0;
    width: 70px;
    text-align: center;
}
.logo {
    color: #000;
    font-size: 25px;
    display: block;
}
.hambrger {
    height: 55px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    position: relative;
}
.hambrger span {
    height: 2px;
    width: 35px;
    background-color: #000;
    display: block;
    transition: 0.4s ease-in-out;
}
.menuOpen span:first-child {
    transform: translateY(5px) rotate(45deg);
}
.menuOpen span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}
.blackCircle,
.greenCircle,
.menuOverlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 0;
    transition: 0.8s;
    height: 100vh;
    width: 0%;
    left: 0;
}
.menuOverlay {
    background-color: #000000cb;
    display: none;
    opacity: 0;
    width: 100% !important;
}
.menuOverlay.menuOpen {
    display: initial;
    opacity: 1;
}
.greenCircle {
    background-color: #b8e132b5;
}
.greenCircle.menuOpen {
    width: 100%;
    transform: rotate(0);
}
.blackCircle {
    width: 100%;
    background-color: #1a1a1a;
    right: 0;
    margin: 0 auto;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.99, 0, 0, 0.73);
}
.blackCircle.menuOpen {
    transform: rotate(0);
    height: 100vh;
}
.blackCircle > div {
    transform: rotate(0);
    margin: 0;
}
.blackCircle > div > div {
    padding: 1.2vw 5vw;
    height: 15.3%;
    width: 70vw;
}
.blackCircle > div > div a {
    border-width: 3px;
}
.blackCircle > div > div > h1 {
    font-size: 2vw;
}
.blackCircle > div > div:hover {
    color: #1a1a1a;
}
.blackCircle > div > div:hover a {
    border-color: #1a1a1a;
}
.hicon {
    display: inline-grid;
    gap: 8px;
}
.loop,
.loop-wrap {
    display: flex;
    width: 100%;
}
.mainbanner {
    position: relative;
    background-image: url("/1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#shiledImage2,
.ban-btm,
.loop-wrap,
video#vide {
    position: absolute;
}
video#vide {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.loop-wrap {
    background-color: #b8e132e0;
    top: 40%;
    height: 200px;
}
.loop {
    font-size: 100px;
}
.loop h1 {
    font-weight: 700;
    color: #000;
    font-size: 1.5em;
    line-height: initial;
}
.loop h1 span {
    -webkit-text-stroke: 5px #000000;
    color: transparent;
    font-weight: 500;
    padding: 0 20px;
}
@keyframes anim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.c-direction-block_item {
    position: absolute;
    font-size: 10vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}
.c-direction-block_item span {
    display: block;
    background-color: #fff;
    white-space: nowrap;
    padding: 0 20px;
}
.tiles__line,
ul.btn-list,
ul.s-link {
    display: flex;
}
.c-direction-block_item.-five {
    top: 63%;
    transform: translateX(-10vw) rotate(3deg);
}
.ban-btm {
    width: 100%;
    bottom: 0;
}
.sound a,
.sound button,
ul.s-link > li > a {
    width: 40px;
    height: 40px;
    color: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #b8e132;
    border: 2px solid #b8e132;
    transition: 0.4s ease-in-out;
}
.btmctn h1 span svg,
.h-wrp h2,
.topctn h1 span svg {
    color: #fff;
}
.sound button:hover,
ul.s-link > li > a:hover {
    background-color: #b8e1324f;
    color: #fff;
}
ul.s-link {
    gap: 8px;
    justify-content: flex-end;
}
.inpl,
.let-warp,
.link-wrp {
    text-align: right;
}
#shiledImage2 {
    top: 150px;
    right: 20px;
    width: 120px;
}
.about-sec {
    background-color: #000;
    position: relative;
}
.footer-sec,
.gc-sec,
.sr-box:hover,
.work-sec {
    background-color: #1a1a1a;
}
.h-wrp h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
}
.fot-line h1 span,
.h-wrp span,
.loc-box h4 span {
    color: #b8e132;
}
ul.btn-list {
    gap: 50px;
}
.w-h h1,
.w-h span {
    display: inline-block;
}
.abtRoundMain svg {
    color: #b8e132;
    font-size: 65px;
}
.tiles__line-img {
    margin: 15px;
    flex: none;
}
.tiles__line-img img {
    width: 400px;
}
.tiles__wrap {
    width: 110%;
    position: absolute;
    right: -4%;
    bottom: -44%;
    transform: rotate(351deg);
}
.sbody-wrp,
.tiles,
.video-sec,
.w-h span {
    position: relative;
}
.tiles {
    height: 110vh;
}
.sbody-wrp {
    z-index: 2;
    background-color: #01014c;
}
.w-h h1 {
    font-size: 85px;
    font-weight: 700;
}
.w-h span {
    vertical-align: baseline;
    width: 166px;
    background: #b8e132;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    z-index: 1;
}
.tlh h4 span,
span.arw {
    vertical-align: middle;
}
.page14-inner a,
.srbox-h a {
    height: 60px;
    transition: 0.4s ease-in-out;
}
.w-h span:after {
    content: "";
    width: 71px;
    height: 20px;
    border-radius: 50%;
    background-color: #00000075;
    position: absolute;
    bottom: 11px;
    z-index: -1;
    right: 40px;
}
.w-h span img {
    margin: auto;
    position: absolute;
    bottom: 23px;
    right: 0;
    left: 0;
}
.box-square {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
}
.video-sec {
    z-index: 1;
    background-color: #000;
}
.btmvid,
.topvid {
    height: 134px;
    background-color: #b8e132;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.topvid {
    top: 0;
}
.btmvid {
    bottom: 0;
}
.btmctn,
.topctn {
    align-items: center;
    display: flex;
    height: 100%;
}
.srbox-h a,
ul.slist {
    display: flex;
    align-items: center;
}
.btmctnwrp,
.topctnwrp {
    height: 134px;
    z-index: 1;
    width: 114%;
    box-shadow: 0 5px 31px 0 #000;
    background-color: #000;
    position: absolute;
}
.topctnwrp {
    top: -2%;
    left: -49px;
    transform: rotate(357deg);
}
.btmctn h1,
.topctn h1 {
    color: #b8e132;
    animation-name: anim;
}
.btmctn h1 span,
.topctn h1 span {
    display: inline-block;
    padding: 0 26px;
    vertical-align: middle;
}
.btmctnwrp {
    bottom: -2%;
    left: -3%;
    transform: rotate(2deg);
}
.gc-sec .divider,
video#vid {
    width: 100%;
}
.tlh.tline1,
.tlh.tline2 {
    width: 120%;
    left: -42px;
    z-index: 1;
}
section.service-sec {
    background: #1a1a1a;
}
ul.slist {
    gap: 150px;
}
ul.sr-list > li {
    margin-bottom: 55px;
    margin-right: 47px;
}
.sr-box {
    background-color: #000;
    padding: 26px 25px;
    box-shadow: 0 1px 13px 1px #00000000;
    transition: 0.4s ease-in-out;
}
.sr-box:hover {
    padding: 26px 25px;
    box-shadow: 0 1px 13px 1px #000;
}
.srbox-h {
    position: relative;
}
.srbox-h h5 {
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b8e132;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    transition: 0.4s ease-in-out;
}
.page14-inner > h1,
.page14-inner > i {
    font-weight: 100;
    position: relative;
}
.sr-box:hover h5 {
    -webkit-text-stroke-color: #fff;
}
.part-logo:hover,
.sr-box:hover .divider {
    background-color: #b8e132;
}
.divider {
    height: 1px;
    width: 422px;
    background-color: #fff;
    margin: 50px 0;
}
.srbox-h a {
    border: 2px solid #fff;
    width: 60px;
    justify-content: center;
    position: absolute;
    right: 0;
    border-radius: 50%;
    top: 0;
    color: #fff;
}
.page14-inner,
.page14-inner a {
    align-items: center;
    display: flex;
}
.sr-box:hover .srbox-h a {
    border: 2px solid #b8e132;
    transform: rotate(45deg);
}
.copy,
.partner-sec,
.team-sec {
    background-color: #000;
}
.part-logo {
    background-color: #1a1a1a;
    padding: 40px;
    width: 357px;
    height: 165px;
    display: flex;
    transition: 0.4s ease-in-out;
}
.part-logo img {
    width: 57%;
    margin: auto;
}
.loop h1 {
    text-transform: uppercase;
    padding: 0 30px;
}
.abth,
.abth2,
.fot-line {
    display: flex;
}
.fot-line h1 {
    font-size: 200px;
    padding: 0 24px;
}
.page14-inner {
    position: relative;
    justify-content: space-between;
    padding: 2vw 5vw;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: 0.5px solid #ffffff5c;
    border-bottom: 0.5px solid #ffffff48;
}
.page14-inner > i {
    font-size: 2.4vw;
    z-index: 9999;
}
.page14-inner > h1 {
    font-size: 3vw;
    transition: 0.4s ease-in-out;
    text-transform: uppercase;
}
.ct-bx label,
.tctn h3 {
    text-transform: capitalize;
}
.page14-inner:hover h1 {
    color: #000;
}
.page14-inner a {
    border: 2px solid #fff;
    width: 60px;
    justify-content: center;
    border-radius: 50%;
}
.ct-btn button,
.ct-bx {
    border-bottom: 1px solid #fff;
}
.page14-inner:hover a {
    color: #000;
    border: 2px solid #000;
    transform: rotate(45deg);
}
.center14 {
    height: 100%;
    width: 0%;
    background-color: #b8e132;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: -1;
}
.page14-inner:hover .center14 {
    width: 100%;
    left: 50%;
}
.get-wrp p {
    font-size: 30px;
    line-height: normal;
}
.addbx h2 {
    font-size: 13px;
    color: #b8e132;
}
.abth h1,
.abth2 h1 {
    animation-duration: 15s;
    padding: 0 24px;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
ul.add > li {
    margin-bottom: 23px;
}
.inpl p {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.inpl a {
    display: contents;
}
.inpl img {
    width: 10%;
}
.addbx p {
    transition: 0.4s ease-in-out;
}
.addbx p:hover {
    color: #b7b5b5;
}
section.abt-banner {
    background-color: #1a1a1a;
}
.abth h1 {
    font-size: 179px;
    line-height: 214px;
    letter-spacing: 0;
    -webkit-text-stroke-color: #fdfdfd;
}
.abth2 h1,
.bor-h h5 {
    letter-spacing: 0;
    -webkit-text-stroke-color: #b8e132;
}
.abth2 h1 {
    font-size: 250px;
    animation-name: animr;
    line-height: 195px;
}
@keyframes animr {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
section.servicedetial-sec {
    background: #000;
}
.srd-box {
    background-color: #1a1a1a;
    position: relative;
}
.srr-box .divider {
    margin: 30px 0;
}
.bor-h {
    position: absolute;
    top: -70px;
}
.o-image_wrapper,
.timg,
.tlh.tline1,
.tlh.tline2 {
    position: relative;
}
.bor-h h5 {
    color: rgba(255, 255, 255, 0.1);
    -webkit-text-stroke-width: 2px;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
}
.srd-box h2 {
    font-size: 30px;
}
.srd-box p {
    font-size: 19px;
    margin-bottom: 17px;
}
.timg img,
.tlinewarp {
    margin: auto;
}
.o-image_wrapper {
    background-color: #000;
}
.o-image_wrapper .o-image img {
    opacity: 0;
    transform: scale(1);
    transition-delay: 0.6s;
}
.o-image_wrapper.is-inview .o-image img {
    width: 100%;
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.6s;
}
.timg {
    text-align: center;
    background-image: url("../assets/images/line.svg");
    background-size: inherit;
    background-position: -27px 106px;
}
.tlh {
    display: flex;
    width: 100%;
    font-size: 100px;
    z-index: -1;
    background-color: #b8e132e0;
    padding: 13px 0;
}
.tlh.tline1 {
    transform: rotate(355deg);
}
.tlh.tline2 {
    transform: rotate(10deg);
    top: -34px;
    box-shadow: 0 1px 13px #000;
}
.tlh h4 {
    padding: 0 10px;
    animation-name: anim;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
}
.tlh h4 span {
    display: inline-flex;
    width: 70px;
    height: 33px;
}
.tlinewarp {
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
}
.tctnwp {
    padding: 23px 25px;
    background-color: #1a1a1a;
}
.tctn h3 {
    color: #b8e132;
}
ul.tlist {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
ul.tlist > li > a {
    color: #fff;
    font-size: 20px;
}
.tspace {
    height: 428px;
}
.tspace2 {
    height: 220px;
}
.ct-bx label {
    color: #fff;
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
}
.ct-bx input {
    color: #fff;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    padding: 10px 12px;
    width: 100%;
    border-radius: 0;
}
.ct-btn button,
span.arw {
    display: inline-block;
    font-size: 20px;
}
.ct-bx input:focus-visible {
    outline: 0;
}
.ct-bx {
    padding-bottom: 17px;
    margin-bottom: 80px;
}
.ct-btn button {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 9px;
}
span.arw {
    padding-left: 16px;
    color: #b8e132;
}
.mob-h {
    display: none;
}
@media (max-width: 1440px) {
    .partnerSec > div {
        width: 100%;
        padding: 20px;
    }
    .w-h h1 {
        font-size: 58px;
    }
    .w-h span img {
        width: 80px;
    }
    .srbox-h > h5 {
        font-size: 82px;
    }
    .srbox-h > h4,
    .tctn.s-h > h3 {
        font-size: 14px;
    }
    .divider {
        width: auto;
    }
    .m-h.h-wrp > div > h1 {
        font-size: 52px;
    }
    .m-h.h-wrp > div > h2 {
        font-size: 42px;
    }
    .gc-wrap.grid.grid-cols-2.s-h.p1 > h2 {
        font-size: 30px;
    }
    ul.slist.mb-20 > li > div > h1 {
        font-size: 41px;
    }
    .s-h > h2 {
        font-size: 38px;
    }
    .tctn.s-h > h4 {
        font-size: 17px;
    }
    .abtRoundMain {
        right: 1%;
    }
}
@media screen and (max-width: 1024px) {
    .m-h.h-wrp > div > h1 {
        font-size: 38px;
    }
    .abtRoundMain {
        top: 180px;
    }
    ul.btn-list a {
        font-size: 16px;
    }
    .w-h h1 {
        font-size: 36px;
    }
    .partnerSec > div {
        padding: 0;
    }
    .cursor {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .bor-h,
    .counter {
        left: 0;
        margin: auto;
    }
    .fot-line,
    .loop-wrap {
        overflow: hidden;
    }
    .glitch:after {
        animation: none;
    }
    .tiles__line.one,
    .tiles__line.two {
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .pre-ctn span {
        font-size: 17px;
    }
    .p1 p,
    .team-sec .s-h h2 {
        font-size: 13px;
    }
    .counter {
        right: 0;
    }
    .roundedText {
        right: 70px;
    }
    .pre-wrap {
        height: 33px;
    }
    .abtRoundMain,
    .desk-h,
    .part-circle,
    .video-sec,
    .w-h span,
    video#vide {
        display: none;
    }
    .tiles__line.one {
        animation-name: anim;
    }
    .tiles__line.two {
        animation-name: animleft;
    }
    @keyframes animleft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    .p1 p {
        line-height: 23px;
    }
    .blackCircle > div > div {
        padding: 5.2vw 5vw;
    }
    .loop h1 span,
    section.service-sec {
        padding: 0 10px;
    }
    .blackCircle > div > div a {
        border-width: 2px;
    }
    .page14-inner a {
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
    }
    .blackCircle > div > div > h1 {
        font-size: 3vw;
    }
    .ct-wrap,
    .gc-sec {
        padding: 0 20px;
    }
    .inpl.p1 > p,
    ul.btn-list a {
        font-size: 14px;
    }
    section.team-sec .gap-32 {
        gap: 0;
    }
    .tlh h4 {
        margin: 0 !important;
    }
    .btn-wrap,
    .miswrp,
    .tl,
    .tr {
        padding: 20px;
    }
    section.servicedetial-sec .mb-32 {
        margin-bottom: 40px;
    }
    section.servicedetial-sec .sr-wrap.mb-36 {
        margin-bottom: 100px;
    }
    .bor-h {
        right: 0;
        width: fit-content;
    }
    .gc-wrap h2 {
        margin-bottom: 15px;
    }
    .abth2 h1 {
        font-size: 80px;
        line-height: 46px;
        -webkit-text-stroke-width: 1px;
    }
    .abth h1 {
        font-size: 80px;
        line-height: 126px;
        -webkit-text-stroke-width: 2px;
    }
    .mob-h {
        display: block;
    }
    .loop h1,
    .partnerSec > div,
    .srlist-wrap.pt-24 {
        padding: 0;
    }
    .loop-wrap {
        z-index: 1;
        height: auto;
    }
    .loop h1 span {
        -webkit-text-stroke: 2px #000000;
    }
    .work-sec {
        padding-top: 3rem !important;
    }
    .has-scroll-smooth body {
        overflow: inherit;
    }
    .px-24,
    .px-9 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .loop h1 {
        font-size: 0.5em;
    }
    .m-h.h-wrp > div > h1 {
        font-size: 22px;
    }
    .m-h.h-wrp > div > h2 {
        font-size: 21px;
        padding: 9px 0;
    }
    section.about-sec.py-36 > div > div > div > h1:first-child {
        margin: 90px 0 0;
    }
    .py-36 {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    .s-h h4,
    .tctn.s-h > h3 {
        margin: 0 0 20px;
    }
    .mb-28 {
        margin-bottom: 4rem;
        padding: 0 15px;
    }
    .w-h span img {
        width: 50px;
        display: none;
    }
    .w-h span:after {
        width: 33px;
        right: 25px;
        display: none;
    }
    .w-h h1,
    ul.slist.mb-20 > li > div > h4 {
        font-size: 26px;
    }
    ul.slist {
        flex-direction: column;
        gap: 20px;
    }
    .s-h > h2,
    ul.slist.mb-20 > li > div > h1 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 12px;
    }
    .mb-20 {
        margin-bottom: 2rem;
    }
    .mb-36 {
        margin-bottom: 3rem;
    }
    .py-48 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    ul.sr-list > li {
        margin: 0 15px 25px;
    }
    .partner-sec {
        padding: 30px 15px;
    }
    .part-logo img {
        width: 80%;
    }
    .fot-line h1 {
        font-size: 60px;
    }
    .get-wrp p {
        font-size: 24px;
    }
    .get-wrp {
        padding: 0 0 30px;
    }
    .copy {
        padding: 15px;
    }
    .inpl.p1 > p {
        margin: 20px 0;
        justify-content: center;
    }
    .copy > .logo-wrap > div {
        margin: 0 auto;
    }
    .srd-box {
        padding: 7rem 1rem;
    }
    .tspace2 {
        height: 40px;
    }
    .tspace {
        height: 0;
    }
    .tiles__line-img img {
        width: 222px;
    }
    .tiles__wrap {
        right: 32%;
        bottom: 0;
    }
}
